*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(252, 250, 251);
    color: rgb(243, 243, 243);
    font-family: Inter,Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TARJETA DE BIENVENIDA */

.tarjeta-bienvenida{
    background-color: rgb(49, 49, 49);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.tarjeta-bienvenida h2{
    padding: 0 15px 10px 15px;
    border-bottom: 2px solid rgb(189, 1, 189);
}

#form-ingreso{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

#input-nombre{
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}

#input-nombre:focus{
    border-color: rgb(139, 46, 139);
    box-shadow: 0 0 0 3px rgba(139, 46, 139);
}

.btn-ingresar{
    background-color: rgb(139, 46, 139);
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-ingresar:active{
    background-color: rgb(104, 34, 104);
    color: rgb(206, 206, 206);
    transform: scale(0.97);
}


/* FOOTER */

.contenedor-footer{
    background-color: rgb(49, 49, 49);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    position:absolute;
    bottom: 0;
}

